table {
    table-layout: auto;
}

td {
    vertical-align: middle;
    justify-content: center;
    text-align: center;
  }

th{
    text-align: center;
}

.container {
    border: 3px solid var(--mid-base-colour);
    border-radius: 25px;
}

.table-container{
    height: 500px;
    scrollbar-width: thin;
    scrollbar-color: var(--dark-base-colour) var(--light-base-colour);
    
    box-shadow: 5px 5px 3px var(--mid-base-colour);
}

.time-table{
    display: flex;
    flex-direction: column;
}

.time-table p {
    margin: 0px;
    text-align: center;
}

.scheduled-time {
    font-weight: bold;
}

.expected-time {
    font-weight: bolder;
    color: red;
}

.form-control{
    border: 3px solid var(--light-base-colour);
    outline: none;
}

.form-control:focus{
    border: 3px solid var(--dark-base-colour);
    outline: none;
}

.departure-time{
    font-style: italic;
}

.stop-name{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}